.upload--document--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  & > * {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  & > .submit--button--container {
    width: 100%;
    display: flex;
    justify-content: center;
    & > #submit--button {
      max-width: 180px;
    }
  }
}